@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/***
   End of CSS Reset
***/
h1, h2, h3, h4 {
  font-family: "Archivo", serif;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

.heading-container h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading-container {
  display: flex;
  justify-content: space-around;
}

.heading-container p {
  margin-bottom: 20px;
  font-family: "Archivo", serif;
  font-size: 1rem;
  font-weight: 700;
}

.heading-container .h4-reg {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading-container .h4-bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.heading-container .h4-italic {
  font-size: 1.5rem;
  font-style: italic;
}

.heading-container .h4-hyper {
  font-size: 1.5rem;
  text-decoration: underline;
}

.card-title {
  font-family: "Archivo", serif;
  font-weight: 700;
  font-size: 2rem;
}

.card-text {
  font-family: "Archivo", serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0;
}

h2 {
  font-family: "Archivo", serif;
  font-weight: 700;
  font-size: 3rem;
}

.color-container .color-box {
  display: flex;
  gap: 5px;
}
.color-container .color-box p {
  font-family: "Archivo", serif;
  font-size: 1rem;
  font-weight: 400;
}
.color-container .color-pri {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8096E4;
  color: #f8f9fa;
  height: 200px;
  width: 200px;
}
.color-container .color-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1BC0BA;
  color: #f8f9fa;
  height: 200px;
  width: 200px;
}
.color-container .color-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBD16;
  color: #f8f9fa;
  height: 200px;
  width: 200px;
}
.color-container .color-success {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F94681;
  color: #f8f9fa;
  height: 200px;
  width: 200px;
}
.color-container .color-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee2b2b;
  color: #f8f9fa;
  height: 200px;
  width: 200px;
}

.card {
  width: 18rem;
  height: fit-content;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.12);
}

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-body {
  padding: 1rem 0.5rem;
}

a.btn.btn-primary {
  color: #28190e;
  text-decoration: underline;
  font-family: "Archivo", serif;
  font-weight: 600;
  font-size: 1rem;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}

.card-container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
