@use 'sass:map';
@use 'variables';


// Color

.color-container {

    .color-box {
        display: flex;
        gap: 5px;
    }

    .color-box p {
        font-family: variables.$sleek-font-card;
        font-size: variables.$font-xsmall;
        font-weight: variables.$font-regular;
    }

    .color-pri {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get(variables.$theme, "primary");
        color: map.get(variables.$theme, "dark");
        height: 200px;
        width: 200px;
    }

    .color-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get(variables.$theme, "secondary");
        color: map.get(variables.$theme, "dark");
        height: 200px;
        width: 200px;
    }

    .color-info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get(variables.$theme, "info");
        color: map.get(variables.$theme, "dark");
        height: 200px;
        width: 200px;
    }

    .color-success {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get(variables.$theme, "success");
        color: map.get(variables.$theme, "dark");
        height: 200px;
        width: 200px;
    }

    .color-danger {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map.get(variables.$theme, "danger");
        color: map.get(variables.$theme, "dark");
        height: 200px;
        width: 200px;
    }

}

//Card
.card {
    width: 18rem;
    height: fit-content;
    border: 0;
    border-radius: map.get(variables.$rounded, "md");
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.12);
}

.card-img-top {
    border-top-left-radius: map.get(variables.$rounded, "md");
    border-top-right-radius: map.get(variables.$rounded, "md");
}

.card-body {
    padding: 1rem 0.5rem;
}

//button and links
@mixin sleek-btn($btn-bg-color: map-get(variables.$theme, "dark"), $btn-text-color: map-get(variables.$theme, "light"), $btn-border-radius: map-get(variables.$rounded, "sm")) {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    padding: 0.15rem 0.30rem;
    border-radius: $btn-border-radius;
    border: 0.1rem solid $btn-text-color;
    font-family: variables.$sleek-font-card;
    font-weight: variables.$font-semi-bold;
    font-size: variables.$font-xsmall;
}

@mixin sleek-link {

    color: map.get(variables.$theme , "light");
    text-decoration: underline;
    font-family: variables.$sleek-font-card;
    font-weight: variables.$font-semi-bold;
    font-size: variables.$font-xsmall;
}

// Button container
.btn-container{   
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

//Card link
a.btn.btn-primary {
    @include sleek-link;
    display: flex;
    align-items: center;
};

button.btn-primary{
    @include sleek-btn(map.get(variables.$theme, "primary"), map.get(variables.$theme, "dark"), map.get(variables.$rounded, "sm"));
    padding:0.5rem;
}

button.btn-secondary{
    @include sleek-btn(map.get(variables.$theme, "success"), map.get(variables.$theme, "dark"), map.get(variables.$rounded, "sm"));
    padding: 0.5rem;
}

button.btn-info{
    @include sleek-btn(map.get(variables.$theme, "info"), map.get(variables.$theme, "light"), map.get(variables.$rounded, "sm"));
    border: 0;
    padding: 0.5rem;
}

button.btn-success {
    @include sleek-btn(map.get(variables.$theme,"secondary"), map.get(variables.$theme, "dark"), map.get(variables.$rounded, "sm"));
    padding: 0.5rem;
}

button.btn-danger{
    @include sleek-btn(map.get(variables.$theme, "danger"), map.get(variables.$theme, "dark"), map.get(variables.$rounded, "sm"));
    padding: 0.5rem;
}

button[type="submit"]{
    @include sleek-btn(map.get(variables.$theme, "light"), map.get(variables.$theme, "dark"), map.get(variables.$rounded, "sm"));
    padding: 0.5rem;
}
//form 
form {
    max-width: 600px;
    margin: 30px;
    padding: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid map.get(variables.$theme, "light");
    padding: 6px 8px;
    border-radius: map.get(variables.$rounded, "sm");
}

#full-name::placeholder,
#email::placeholder,
#message::placeholder {
    color:map.get(variables.$theme, "grey");
}



// Ul and Ol list

.list-container {

    h4 {
        margin: 0 0 0 1rem;

    }

    .ulol {
    display: flex;
    gap: 7rem;
    }


    ol {
        margin: 0 0 0 3rem;
        padding: 1rem 0;
        font-family: variables.$sleek-font-card;
        font-size: variables.$font-xsmall;
        font-weight: variables.$font-regular;
        list-style: variables.$list-ol;
    }

    ul {
        margin: 0 0 0 3rem;
        padding: 1rem 0;
        font-family: variables.$sleek-font-card;
        font-size: variables.$font-xsmall;
        font-weight: variables.$font-regular;
        list-style: variables.$list-ul;
    }

    dl {
        margin: 0 0 0 2rem;
        padding: 1rem 0;
        font-family: variables.$sleek-font-card;
        font-size: variables.$font-xsmall;
        font-weight: variables.$font-regular;
        list-style: variables.$list-dl;
    }

    dt {
        font-weight: variables.$font-bold;
        font-size: variables.$font-small;
    }

    dd {
        margin: 0 0 1rem 0; //margin: 0 0 0 1rem;
    }


}