// Container
@mixin container{
    width:70%;
    margin:0 auto;
    padding:1rem;
}

.container{
    @include container;
}

.card-container{
    padding:1rem 0; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}