//Variables
$theme:(
    "primary": #8096E4,
    "secondary": #1BC0BA,
    "info": #FFBD16,
    "success": #F94681,
    "danger": #ee2b2b,
    "light": #28190e,
    "dark": #f8f9fa,
    "grey": #6c757d, 
);

//Type face - card
$sleek-font-card:"Archivo", serif;

// Font weights
$font-bold: 700;
$font-semi-bold: 600;
$font-med:500;
$font-regular: 400;
$font-light: 300;
$font-xlight: 200;

// Font styles
$font-italic: italic;
$font-underlined: underline;

// Font sizes
$font-xlarge: 4rem;
$font-large: 3rem;
$font-medium: 2rem;
$font-small: 1.5rem;
$font-xsmall: 1rem;

//Utility classes
$rounded: ("x-sm": 0.25rem,
    "sm": 0.35rem,
    "md": 0.5rem,
    "lg": 1rem,
    "xl": 2rem,
    "xxl": 3rem,
);

// Base Style (ol ul, and dl list)

$list-ul: disc;
$list-ol: upper-roman;
$list-dl: ""; // No bullets or markers

